/*=============================================>>>>>
= Header Partial Style =
===============================================>>>>>*/


.header {
	background-color: $bongu-color;
}

	#logo {
		margin: 0.75em 0;
    width: 128px;
    height: 75px;

		a {
			color: $white;
		}
	}

  #titleDescription {
    color: $white;
  }
